*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #004d7a, #00bf72);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  outline: 0;
  margin: 0 auto;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
  width: 80%;
  align-self: center;
}

.container {
  max-width: 880px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#bookContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.bookCard {
  background-color: azure;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 220px;
  padding: 7px;
  width: 270px;
}
.bookCard div {
  display: flex;
}

button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  padding: 5px 1rem;
  width: fit-content;
}
.addButton {
  align-self: center;
  background-color: #2fd59b;
  &:hover {
    background-color: #0ee987;
  }
}
.routeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.loadOrError {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 1rem auto;
  color: #e22626;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
